---
import menuClaro from "@/assets/iconos/MenuHamburguesa-claro.svg";
import menuOscuro from "@/assets/iconos/MenuHamburguesa-oscuro.svg";
import logoClaro from "@/assets/iconos/logo-2d-claro.svg";
import logoOscuro from "@/assets/iconos/logo-2d-oscuro.svg";
import iconSol from "@/assets/iconos/sun.svg";
import iconLuna from "@/assets/iconos/moon.svg";
---

<header>
  <div class="container-header">
    <figure>
      <a href="/" class="logo-link">
        <img src={logoClaro.src} alt="logo claro" class="theme-icon moon" />
        <img src={logoOscuro.src} alt="logo oscuro" class="theme-icon sun" />
        <h2>Blog</h2>
      </a>
    </figure>
    <div class="opacity on"></div>
    <nav class="contenedor active">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/tutoriales">Tutoriales</a></li>
        <li><a href="/patrones">Patrones</a></li>
        <li><a href="/base-de-datos">Database</a></li>
        <li><a href="/recursos">Recursos</a></li>
        <li><a href="/sobre-mi">Sobre mi</a></li>
      </ul>
    </nav>

    <div class="container-header--icon">
      <figure class="menu-icon">
        <img src={menuClaro.src} alt="Modo claro" class="theme-icon moon" />
        <img src={menuOscuro.src} alt="Modo oscuro" class="theme-icon sun" />
      </figure>
      <div class="hover-icon">
        <button id="theme-toggle" class="theme-button">
          <img src={iconSol.src} alt="Modo claro" class="theme-icon sun" />
          <img src={iconLuna.src} alt="Modo oscuro" class="theme-icon moon" />
        </button>
      </div>
    </div>
  </div>
</header>

<style>
  header {
    width: 100%;
    backdrop-filter: blur(10px);
    position: fixed;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 10;
    border-radius: 50px;
    border: 1px solid var(--border-color);
    margin-top: 20px;
  }

  .theme-button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 0px 20px;
  }

  .theme-icon {
    width: 24px;
    height: 24px;
    display: none;
  }

  html[data-theme="dark"] .moon,
  html[data-theme="light"] .sun {
    display: block;
  }

  .container-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--ancho-maximo);
  }

  .container-header--icon {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .logo-link {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  nav {
    position: absolute;
    height: 100vh;
    width: 80vw;
    left: -10px;
    top: -25px;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    transition: all ease 0.4s;
    background-color: var(--color-principal);
    background-color: black;

    && ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;

      && li {
        width: 100%;
        && a {
          font-size: 1rem;
          display: block;
          width: 100%;
          padding: 20px;
          color: var(--color-fuente);
          font-weight: 600;
          display: block;
          width: 100%;
          padding: 20px;
        }

        && a:hover {
          color: var(--color-negro);
        }
      }
      && li:hover {
        border-bottom: 1px solid #fff;
      }

      && .hover-icon:hover {
        border: none;
      }
    }
  }

  .menu-hamburguesa--icon {
    color: var(--color-alternar);
  }

  .active {
    transform: translate(-1200px);
  }

  .menu-icon {
    display: grid;
  }

  .hover-icon {
    display: grid;
  }

  @media only screen and (min-width: 1024px) {
    header {
      width: 90%;
      margin: 20px;
    }

    .logo {
      order: 1;
    }

    .theme-button {
      padding: 0px;
    }

    .container-header--icon {
      order: 3;
    }
    .container-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .menu-icon {
      display: none;
    }

    nav {
      position: static;
      height: 100%;
      transition: all ease 0s;
      padding-top: 0px;
      margin-right: 40px;
      order: 2;

      && ul {
        flex-direction: row;
        gap: 5px;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 25px;

        && li {
          padding: 0px;
          font-size: 16px;
          width: auto;
          && a {
            display: block;
            padding: 0px;
          }
        }
      }
    }

    .active {
      transform: none;
    }
  }
</style>

<script is:inline>
  const icono = document.querySelector(".menu-icon");

  const contenedor = document.querySelector(".contenedor");
  icono?.addEventListener("click", () => {
    contenedor?.classList.toggle("active");
  });

  const themeToggle = document.getElementById("theme-toggle");
  const html = document.documentElement;

  const savedTheme =
    localStorage.getItem("theme") ||
    (window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light");

  html.setAttribute("data-theme", savedTheme);

  themeToggle.addEventListener("click", () => {
    const newTheme =
      html.getAttribute("data-theme") === "dark" ? "light" : "dark";
    html.setAttribute("data-theme", newTheme);
    localStorage.setItem("theme", newTheme);
  });
</script>
